*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Noto Sans KR', sans-serif;
  /* color: white; */
}

:root{
  --mainColor:#f8db27;
  --pinkDonut:#ff81c1;
  --correctAnswer: #19c56f;
  --wrongAnswer: #ED254E;
}

#root{
  height: 100vh;
}

main{
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  padding: 0 10%;
  background-color: var(--mainColor);
}


/* ANIMATIONS */


@keyframes leftSlide{
  from { transform: translateX(-200px) }
  to { transform: translateX(0) }
}

@keyframes fadeIn{
   from { display :none; opacity: 0 }
   to { display :BLOCK; opacity: 1}
}

@keyframes rotate {
  from { transform: rotate(0deg) }
  to { transform: rotate(360deg) }
}

@media screen and (min-width:1024px){
  main{
    padding: 0 30%;
  }
}


